#logout-button {
    width: 100%;

    border: none;
    border-radius: 3px;
    background-color: rgb(218, 83, 72);

    font-weight: 700;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#logout-button:hover {
    cursor: pointer;
}