@import url("/style/includes/colors.css");

/* ========== START OF STUDENT EXAMS TABLE ========== */
.dash-table-area {
    position: relative;
    min-width: max-content;

    display: flex;
    flex-direction: column;

    margin-top: 2rem;
    margin-bottom: 4rem;

    border: 1px solid var(--dash-ol);
}

.dash-table-area-2 {
    position: relative;
    width: 50rem;

    display: flex;
    flex-direction: column;

    margin-top: 2rem;
    margin-bottom: 4rem;

    border: 1px solid var(--dash-ol);
}

/* ========== STUDENT EXAMS TABLE TITLE ========== */
.dash-title {
    width: 100%;
    height: 10%;
    min-height: 25px;

    border-bottom: 1px solid var(--dash-ol);
    background-color: var(--dash-bg);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#dash-table-title {
    font-size: 1rem;
    font-weight: 300;
    padding-left: 0.5vw;
}

/* ========== STUDENT EXAMS TABLE SEARCHBAR ========== */
.dash-searchbar {
    min-width: 400px;
    min-height: 25px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 1vh;
    margin: 0.5rem 2.25vw 0;
}

.search-case {
    width: 10%;
    height: 100%;
    /* background-color: black; */
   
    display: flex;
    align-self: flex-end;
    margin-right: 2.25vw;
 }
  
 .search-case > select {
    width: 100%;
    height: 100%;
    text-align: center;
  
    margin-top: 1vh;
    background: none;
    border: 1px solid var(--page-ol);
    border-radius: 2px;
  
 }

.searchbar-element {
    width: max-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search-text {
    margin-right: 1vw;
}

#dash-search-input {
    height: 20px;
    padding-left: 0.25rem;
}

#dash-search-input:focus {
    outline: none;
}

#results-amount {
    height: 20px;

    border-radius: 0px;
    border: 1px solid var(--dash-ol);
    background-color: white;
    
    text-align: center;
    padding-left: 0.25vw;
}

/* ========== STUDENT EXAMS TABLE ========== */
.dash-table-div {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table {
    width: 97%;
    height: 93%;

    margin: 1rem 1rem;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

#table-empty-records {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#records-text {
    min-width: max-content;
    margin-left: 0.5vw;
}

.table-legend {
    width: 97%;
    height: max-content;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#table-display-legend {
    margin-left: 1rem;
}

/* ========== STUDENT EXAMS TABLE ROW ========== */
.exam-row {
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    margin-left: 1vw;
    margin-right: 1vw;
}

.exam-row:hover:not(:first-child) {
    background-color: var(--cell-hover);
}

.exam-row:first-child {
    margin-top: 1.5vh;
}

.exam-row:last-child {
    margin-bottom: 1.5vh;
}

.cell {
    border: 1px solid var(--dash-ol);
}

.exam-row:not(:first-child) > .cell {
    border-top: 0px
}

.cell:not(:first-child) {
    border-left: none;
}

.row-light {
    background-color: var(--cell-light);
}

.row-dark {
    background-color: var(--cell-dark);
}

.header-text {
    font-weight: 700;
}

.row-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cell-index {
    width: 7%;
}

.cell-title {
    width: 22%;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.cell-name {
    width: 18%;
}

.cell-points {
    width: 8%;
}

.cell-date {
    width: 20%;
}

.cell-action {
    width: 25%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.action-button {
    width: 30%;
    height: 50%;

    text-transform: capitalize;

    border: none;
    border-radius: 3px;

    font-weight: 700;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.action-button:hover {
    cursor: pointer;
}

.button-take {
    background-color: var(--take-color);
}

.button-grade {
    background-color: var(--take-color);
}

.ungraded-exam {
    background-color: var(--page-ol);
}

.disabled {
    display: none;
}

#legend-buttons-container {
    margin-right: 1.25vw;
}

.legend-button {
    width: max-content;
    padding: 0.25rem 0.5rem;

    border: 1px solid var(--page-ol);

    background-color: white;
    color: black;
}

.legend-button:not(:first-child) {
    border-left: none;
}

.legend-button:not(.active-button):hover {
    background-color: var(--active-hover);
}

.legend-button:hover {
    background-color: var(--active-btn-h);
}

.active-button {
    background-color: var(--active-btn);
}

.cell-question {
    width: 10%;
}

.cell-text {
    width: 52%;
    padding-left: 0.25rem;
    padding-right: 0.25rem;

    /* max-width: 20%; */
    min-height: max-content;
    word-wrap: break-word;
    overflow-y: auto;
}

.cell-difficulty {
    width: 10%;
}

.cell-constraint {
    width: 16%;
}

.cell-category {
    width: 12%;
}