@import url("/style/includes/logout-button.css");

/* DEFINE COLORS */
:root {
    
    --content-bg:   rgb(247, 247, 247);     /* Main content background */
    --dash-bg:      rgb(246, 246, 246);     /* Table title background  */
    --dash-ol:      rgb(200, 200, 200);     /* Table title outline     */
}
/* Reset values to 0 */
* { 
    margin: 0px; 
    padding: 0px;
    letter-spacing: -0.05em;
    font-family: 'Lato', sans-serif; 
}

body {
    width: 100%;
    height: 100%;
}

.content-area {
    position: absolute;
    width: inherit;
    height: 90%;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-panel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: row;

    background-color: var(--content-bg);
}

.panel-spacer {
    width: 75%;
    height: 100%;
}

.panel-list-area {
    width: 25%;
    height: 100%;

    display: flex;
}

.panel-list {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    list-style: none;

    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20%;
}

.content-dash {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dash-table {
    width: 50%;
    height: 50%;
    border: 1px solid var(--dash-ol);
}

.dash-title {
    width: 100%;
    height: 10%;

    border-bottom: 1px solid var(--dash-ol);
    background-color: var(--dash-bg);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#dash-table-title {
    font-size: 1rem;
    font-weight: 300;
    padding-left: 0.5vw;
    
}

.dash-searchbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
}

.searchbar-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchbar-select {
    width: 18%;
}

#results-amount {
    background-color: white;
    border: 1px solid var(--dash-ol);
    border-radius: 0px;
    text-align: center;
    padding-left: 0.25vw;
}

.searchbar-search {
    width: 25%;
}
