@import url("/style/includes/logout-button.css");

/* DEFINE COLORS */
:root {
    
    --panel-hover:  rgb(220, 220, 220);     /* Banner element highlight */
    --content-bg:   rgb(247, 247, 247);     /* Main content background  */
    --dash-bg:      rgb(246, 246, 246);     /* Table title background   */
    --dash-ol:      rgb(200, 200, 200);     /* Table title outline      */
}
/* Reset values to 0 */
* { 
    margin: 0px; 
    padding: 0px;
    letter-spacing: -0.05em;
    font-family: 'Lato', sans-serif; 
}

body {
    width: 100%;
    height: 100%;
    min-width: max-content;
}

.content-area {
    position: absolute;
    width: inherit;
    height: 90%;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-panel {
    position: absolute;
    top: 0;
    width: 100%;
    min-width: max-content;
    height: 10%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    background-color: var(--content-bg);
}

.panel-list-area {
    height: 100%;
    min-width: max-content;

    display: flex;
    margin-right: 2rem;
}

.panel-list {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    list-style: none;

    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20%;
}

.panel-hover {
    height: 100%;
}

.panel-div {
    width: 33%;
    min-width: max-content;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.panel-hover:hover {
    background-color: var(--panel-hover);
}

.panel-element {
    min-width: max-content;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 25%;
}
.panel-element:hover {
    color: red;
    cursor: pointer;
}

.content-dash {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash-table-area {
    width: 50%;
    height: 50%;
    min-width: max-content;

    border: 1px solid var(--dash-ol);
    display: flex;
    flex-direction: column;
}

.dash-title {
    width: 100%;
    height: 10%;

    border-bottom: 1px solid var(--dash-ol);
    background-color: var(--dash-bg);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#dash-table-title {
    font-size: 1rem;
    font-weight: 300;
    padding-left: 0.5vw;
}

.dash-searchbar {
    min-width: 400px;
    height: 5%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
}

.searchbar-element {
    width: max-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* .searchbar-select {
    width: 18%;
} */

#search-text {
    margin-right: 0.5vw;
}

#results-amount {
    background-color: white;
    border: 1px solid var(--dash-ol);
    border-radius: 0px;
    text-align: center;
    padding-left: 0.25vw;
}
/* 
.searchbar-search {
    width: 25%;
} */

.dash-table-div {
    width: 100%;
    height: 85%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table {
    width: 97%;
    height: 93%;

    border: 1px solid var(--dash-ol);
    border-spacing: 0px;
    border-collapse: collapse;
}

#table-empty-records {
    font-size: 1.5rem;
    font-weight: 300;
}

#records-text {
    min-width: max-content;
    margin-left: 0.5vw;
}

.exam-student-row {
    margin-left: 1vw;
    margin-right: 1vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.exam-student-row:first-child {
    margin-top: 1.5vh;
}

.exam-student-row:last-child {
    margin-bottom: 1.5vh;
}

.cell {
    border: 1px solid var(--dash-ol);
}

.exam-student-row:not(:first-child) > .cell {
    border-top: 0px
}

.cell:not(:first-child) {
    border-left: none;
}

.cell-light {

}

.cell-dark {
    background-color: rgb(249, 249, 249);
}

.cell-index {
    width: 10%;
}

.cell-title {
    width: 20%;
}

.cell-name {
    width: 20%;
}

.cell-points {
    width: 10%;
}

.cell-date {
    width: 40%;
}

.disabled {
    display: none;
}
