th {
    border: 1px solid;
    padding: 5px;
    min-width: max-content;
}

td {
    border: 1px solid;
    padding: 5px;
    min-width: max-content;
}

.points-input {
    width: 100%;
    height: 100%;
    align-self: center;
    border-style: none;
    text-align: center;
}